#zotero-random-read-toolbar-button {
  list-style-image: url("chrome://zotero-random-read/content/icons/dice.svg");
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  min-width: 24px;
  height: 24px;
  margin: 0 4px;
  padding: 0;
}

#zotero-random-read-toolbar-button .toolbarbutton-icon {
  width: 24px;
  height: 24px;
}

#zotero-random-read-toolbar-button[disabled="true"] {
  opacity: 0.55;
}
